<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <ul class="header-ul">
          <li><a href="./home.html">HOME</a></li>
          <li><a href="./lugares.html">LUGARES</a></li>
          <li><a href="./gastronomia.html">GASTRONOMIA</a></li>
          <li><a href="./contact.html">CONTACTO</a></li>
        </ul>
      </nav>
      <span class="hamburger">
        <div class="bars bar-1"></div>
        <div class="bars bar-2"></div>
        <div class="bars bar-3"></div>
      </span>
    </header>
    <h1>Lugares</h1>
  </body>
</html>
