<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/lugares.css" />
    <link rel="icon" type="image/x-icon" href="/assets/caba/caba_3.jpg" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Descubre buenos aires</title>
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <h2>DESCUBRE <br />BUENOS AIRES</h2>
        <img
          class="logo-bs"
          src="../assets/buenos-aires-mapa.png"
          alt="buenos-aires-mapa"
        />
        <img class="linea-logo" src="../assets/subrayado.png" alt="" />
      </div>
      <nav class="nav">
        <ul class="header-ul">
          <li><a href="../home.html">HOME</a></li>
          <li><a href="./lugares.html">LUGARES</a></li>
          <li><a href="./gastronomia.html">GASTRONOMIA</a></li>
          <li><a href="./contact.html">CONTACTO</a></li>
        </ul>
      </nav>
      <span class="hamburger">
        <div class="bars bar-1"></div>
        <div class="bars bar-2"></div>
        <div class="bars bar-3"></div>
      </span>
    </header>
    <main class="main-lugares">
      <section class="lugares-container">
        <!-- <article class="lugar-card">
          <h2 class="lugar-titulo">Teatro Colon</h2>
          <p>
            El teatro colón es un teatro de ópera de la ciudad autónoma de
            Buenos Aires, Argentina. Por su tamaño, acustica y trayectorua, ha
            llegado a ser considerado como uno de los mejores teatros líricos
            del mundo. Según una encuesta realizada por el experto en acústuca
            Leo Beranek a destacados directores internacionales de ópera y de
            orquesta, el tratro colón posee la salla con la mejor acústica para
            ópera y la segunda mejor para concientos del mundo
          </p>
          <div class="frames-lugar-container">
            <iframe
              class="iframe-lugar"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.49366122425!2d-58.3830786!3d-34.6010406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x53386f2ac88991a9!2sTeatro%20Col%C3%B3n!5e0!3m2!1sen!2sar!4v1665084444411!5m2!1sen!2sar"
              width="350"
              height="250"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
            <img
              class="imagen-lugar"
              width="350"
              height="250"
              src="../assets/imagenes-lugares/teatro-colon.png"
              alt=""
            />
          </div>
          <hr />
        </article> -->
      </section>
    </main>

    <!-- Footer Menu -->
<footer id="footer">
 
  <!-- Copyright Section -->
  <div class="copyright">
       
<p>Milagros Florenza / Joaquín Parada / Carla González</p>
<p>© 2022 Todos los derechos Reservados | Para Codo a Codo</p>



      <ul class="contact">
          <li>
              <a href="#" class="fa fa-twitter">

              </a>
          </li>

          <li>
              <a href="#" class="fa fa-facebook">

              </a>
          </li>

          <li>
              <a href="#" class="fa fa-pinterest-p">

              </a>
          </li>
      </ul>
  </div>
</footer>    

    <script src="../js/home.js"></script>
    <script src="../js/lugares.js"></script>
  </body>
</html>
