* {
  margin: 0;
  padding: 50;
  box-sizing: border-box;
}
:root {
  --roboto: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  font-family: var(--roboto);
  background-color: rgba(0, 0, 0, 0.89);
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 5000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav {
  display: flex;
  transition: 0.75s translate ease-in-out;
}
.header-ul {
  font-size: 20px;
  display: flex;
  gap: 30px;
}

.header-ul a {
  color: white;
  padding: 0 10px;
  transition: 0.5s;
  font-weight: 700;
}

.header-ul a:hover {
  background-color: white;
  color: black;
}

.hamburger {
  display: none;
  height: 20px;
  width: 25px;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 5000;
  position: relative;
}

.bars {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  transition: 0.5s all;
}
.bar-1 {
  top: 0;
}
.bar-2 {
  top: 45%;
}
.bar-3 {
  bottom: 0;
}
.hamburger:hover > .bar-1 {
  transform: rotateZ(45deg);
  top: 50%;
}
.hamburger:hover > .bar-2 {
  display: none;
}
.hamburger:hover > .bar-3 {
  transform: rotateZ(-45deg);
  top: 50%;
}

.bar-active-1 {
  transform: rotateZ(45deg);
  top: 50%;
}
.bar-active-2 {
  display: none;
}
.bar-active-3 {
  transform: rotateZ(-45deg);
  top: 50%;
}

.header-logo-container {
  color: white;
  font-size: 18px;
  position: relative;
}
.logo-bs {
  position: absolute;
  width: 50px;
  height: auto;
  top: -20px;
  right: 10px;
}
.linea-logo {
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secciones {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 150px 30px;
}
.gastronomia-article {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--roboto);
}
.ul-gastronomia {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
}
.texto-gastronomia {
  font-size: 15px;
  font-family: var(--roboto);
}
.gastronomia-info-container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.img-gastronomia {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(138, 138, 138);
}

@media screen and (max-width: 700px) {
  .nav {
    position: absolute;
    translate: 1500px;
    height: 100vh;
    background-color: black;
    width: 100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
  }
  .header-ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hamburger {
    display: flex;
  }
  .header-logo-container {
    font-size: 15px;
  }
  .linea-logo {
    width: 150px;
  }
  .logo-bs {
    top: -25px;
    right: -10px;
  }
  .gastronomia-info-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-gastronomia {
    width: 90%;
    height: auto;
  }
}

.active {
  transition: 0.75s translate ease-in-out;
  translate: -20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  padding: 0 0 5px 20px;
}

h4 {
  padding: 0 0 5px 40px;
}

body {
  background-image: radial-gradient(
    circle,
    #fffbee,
    #fffbee,
    #fffaed,
    #fffaed,
    #fff9ed
  );
}
