/* lugares estilo propios dentro de la pagina lugares.html */
.main-lugares {
  padding: 150px 50px;
  font-family: var(--roboto);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lugares-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.lugar-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1000px;
}
.lugar-titulo {
  font-family: var(--font-2);
  letter-spacing: 3px;
  font-size: 40px;
  text-transform: uppercase;
}
.lugar-card p{
  font-family: var(--roboto);
}

.frames-lugar-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.iframe-lugar {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.607);
}
.img-container {
  position: relative;
  width: 350px;
  height: 250px;
}
.pantalla-oscura {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.652);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}
.pantalla-oscura:hover {
  opacity: 1;
}
.btn-conocer-mas {
  cursor: pointer;
  border: none;
  width: 125px;
  height: 40px;
  text-transform: uppercase;
  font-family: var(--font-2);
  letter-spacing: 2px;
  font-weight: bold;
  transition: background-color 0.4s;
}
.anchor-lugares {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}
.btn-conocer-mas:hover {
  background-color: rgb(255, 180, 42);
  color: white;
}
.imagen-lugar {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(119, 119, 119, 0.607);
}


@media screen and (max-width: 700px) {
  /* media de lugares */
  .frames-lugar-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .iframe-lugar {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.607);
    width: 95%;
    height: auto;
  }
  .img-container {
    position: relative;
    width: 95%;
    height: auto;
  }
  .imagen-lugar {
    width: 100%;
    height: 100%;
  }
  .pantalla-oscura {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.652);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
  }
}

