/* ------------GENERAL---------------- */
/* ----------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(
    circle,
    #fffbee,
    #fffbee,
    #fffaed,
    #fffaed,
    #fff9ed
  );
}
:root {
  --roboto: "Roboto", sans-serif;
  --font-2: 'Fjalla One', sans-serif;
}
/*-------------- HEADER ---------------*/
/* ----------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  font-family: var(--roboto);
  background-color: rgba(0, 0, 0, 0.89);
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 5000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav {
  display: flex;
  transition: 0.75s translate ease-in-out;
}
.header-ul {
  font-size: 20px;
  display: flex;
  gap: 30px;
}

.header-ul a {
  color: white;
  padding: 0 10px;
  transition: 0.5s;
  font-weight: 700;
}

.header-ul a:hover {
  background-color: white;
  color: black;
}

.hamburger {
  display: none;
  height: 20px;
  width: 25px;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 5000;
  position: relative;
}

.bars {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  transition: 0.5s all;
}
.bar-1 {
  top: 0;
}
.bar-2 {
  top: 45%;
}
.bar-3 {
  bottom: 0;
}
.hamburger:hover > .bar-1 {
  transform: rotateZ(45deg);
  top: 50%;
}
.hamburger:hover > .bar-2 {
  display: none;
}
.hamburger:hover > .bar-3 {
  transform: rotateZ(-45deg);
  top: 50%;
}
.bar-active-1 {
  transform: rotateZ(45deg);
  top: 50%;
}
.bar-active-2 {
  display: none;
}
.bar-active-3 {
  transform: rotateZ(-45deg);
  top: 50%;
}

.header-logo-container {
  color: white;
  font-size: 18px;
  position: relative;
}
.logo-bs {
  position: absolute;
  width: 50px;
  height: auto;
  top: -20px;
  right: 10px;
}
.linea-logo {
  width: 200px;
}

/* -------FOOTER-------- */
/* ----------------------- */
.company-details{
	overflow: hidden;
	padding: 3em 0em;
	background: #E3F0F7;
	text-align: center;
	margin-top: 5em;
}

#footer #col1,
#footer #col2,
#footer #col3{
	float: left;
	width: 320px;
	padding: 0px 40px 0px 40px;
}
	
#footer #icon{
	display: block;
	margin-bottom: 1em;
	font-size: 3em;
}

.copyright
{
	overflow: hidden;
	padding: 3em 0em;
	border-top: 20px solid rgba(255, 255, 255, 0.08);
	text-align: center;
	background: black;
}
	
.copyright p
{
	letter-spacing: 1px;
	font-size: 0.90em;
	color: rgba(255, 255, 255, 0.6);
}
	
.copyright a
{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

/* Iconos */
ul.contact{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}
	
ul.contact li{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}

ul.contact li a{
	color: #FFF;
	display: inline-block;
	background: #4C93B9;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

@media screen and (max-width: 1000px) {
  .nav {
    position: absolute;
    translate: 1500px;
    height: 100vh;
    background-color: black;
    width: 100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
  }
  .header-ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hamburger {
    display: flex;
  }
  .logo-home-container {
    font-size: 20px;
  }
  .logo-bs {
    width: 60px;
    right: -10px;
  }
  .linea-logo {
    width: 200px;
  }
}

.active {
  transition: 0.75s translate ease-in-out;
  translate: -20px;
}
